.root {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: center;
    left: 0;
    mix-blend-mode: difference;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 80px;
    z-index: 9999998;
    transition: transform 0.4s cubic-bezier(.19,1,.22,1);
 


    @media (max-width: 970px) {
        display: none;
    };

    html[data-theme="dark"] {
        color: #f9f9f9;
    }
    
    html[data-theme="light"] {
        color: #000;
    }
}



.bg {
    height: 100%;
    left: 0;
    overflow: visible;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}


.root:not(.show) .circle {
    opacity: 0;
    transform: scale(.2);
}

.circle {
    fill: currentColor;
    opacity: 0;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition:
        transform 1s cubic-bezier(.19,1,.22,1),
        opacity 1s cubic-bezier(.19,1,.22,1),
        fill .4s cubic-bezier(.19,1,.22,1);
}


.showPointer .circle {
    opacity: 1;
    transform: scale(1.2);
}
.border, .circle {
    opacity: 1;
    transform: scale(1);
    transform-origin: 50% 50%;
}

