
.root {
  width: fit-content;
  font-family: 'Lausanne', Arial, Helvetica, sans-serif;
  font-size: 140px;
  font-weight: 400;
  letter-spacing: -.04em;
  margin: 0;
  cursor: pointer;
  line-height: 75%; // this is to make the characters show from teh base of the text
  overflow: hidden;

  -webkit-font-smoothing: antialiased !important;

  text-shadow: 0 0 1px transparent;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
  
  span {
    display: block;
    position: relative;
    will-change: transform;
    top: .1em;
    transition: opacity 1s cubic-bezier(.19, 1, .22, 1);
  }
}

.hasDecsenders {
    line-height: .975;
    margin-bottom: calc(24px - .15em) !important;

    span {
        top: 0;
    }
}
