:root {
  --background-primary: #f9f9f9;
  --text-color-primary: #171716;
  --text-color-secondary: #aeaa9f;
  --custom-cursor-color:  rgb(249, 249, 249);;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #171716;
    --text-color-primary: #f9f9f9;
    --text-color-secondary: #8f8b82;
    --custom-cursor-color:  var(--text-color-primary);;
  }
}

@font-face {
  font-display: swap;
  font-family: Lausanne;
  font-style: normal;
  font-weight: 300;
  src:
    url("/fonts/Lausanne-300.ef861c0.woff") format("woff"),
    url("/fonts/Lausanne-300.3f24cfa.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Lausanne, sans-serif;
}

html {
  height: 100%;
  
  &.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

body {
  background: var(--background-primary);
  color: var(--text-color-primary);
  font-family: Lausanne, Arial, Helvetica, sans-serif;

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-size: 16px;
  font-weight: 300;
  line-height: 130%;
}

#main {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  left: 0;
  position: fixed;
  top: 0;
  user-select: none;
  width: 100%;
}

.page {
  min-height: 100vh;
  position: relative;
  width: 100%;
  z-index: 0;
}

main {
  background: var(--background-primary);
  color: var(--text-color-primary);
}

main a {
  pointer-events: all;
}

#scroll-pointer {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    width: 100%;
    z-index: 999;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 48px);
}


.row {
  display: flex;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: calc(var(--container-width) + var(--container-margin));
}

 

.row .column-8 {
  width: 66.6666666667%;
}

.row .column-4 {
  width: 33.3333333333%;
}

.row .column-3 {
  width: 25%;
}

@media (min-width: 841px) {
  .row {
    right: calc(var(--container-margin) / 2);
  }

  .row .column-8,
  .row .column-4,
  .row .column-3 {
    box-sizing: border-box;
    padding-left: var(--container-margin);
  }
}

.row.flex-end {
  justify-content: flex-end;
}



a {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: 300;
}

a, a:focus, button, button:focus {
    outline: none !important;
}
a {
    background: 0 0;
}




.responsiveImage{
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.responsiveImage .bg {
    background: #f5f5f5;
}

.responsiveImage img {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.ratio{
    display: block;
    position: relative;
    z-index: 1;

    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.responsiveImage .loaded .ratio {
    opacity: 0;
}

figure {
    margin: 0;
}


.loaderOverlay{
  height: 100vh;
  width: 100vw;
  background: var(--background-primary);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}